## Decision Tree concept

In [1]:
# Importing the libaries
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [3]:
# Importing the csv file 
df=pd.read_csv('Company_salary_prediction.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [33]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
ref=preprocessing.LabelEncoder()
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X=df.drop(columns=['salary_more_then_100k'])
y=df['salary_more_then_100k']

In [38]:
X['f_company']=ref.fit_transform(df['company'])
X['f_job']=ref.fit_transform(df['job'])
X['f_degree']=ref.fit_transform(df['degree'])

In [43]:
X=X.drop(columns=['company','job','degree'])
X

    f_company  f_job  f_degree
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [44]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.2)

In [45]:
from sklearn.tree import DecisionTreeClassifier
grf=DecisionTreeClassifier()

In [49]:
grf.fit(X_train,y_train)

DecisionTreeClassifier()

In [51]:
grf.score(X_train,y_train)

1.0

In [52]:
grf.predict([[0,0,1]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [53]:
grf.predict([[1,0,1]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)